@font-face {
  font-family: "STKBureau-Serif";
  src: url("/fonts/stkbureau-serif-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

header h1,
.prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-family: "STKBureau-Serif", serif;
  /* font-size: 36px; */
  line-height: 1.1;
  letter-spacing: -1.32px;
  font-weight: 400 !important;
}

.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-family: "STKBureau-Serif", serif;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.24px;
  font-weight: 400;
}

.card {
  border-radius: 12px;
}

/*
  h2: [
    "44px",
    {
      fontFamily: "var(--font-stk-bureau-serif)",
      fontWeight: 400,
      lineHeight: "1.1",
      letterSpacing: "-1.32px",
    },
  ],
  */
